<!DOCTYPE html>
<html>
  <head>
    <title>DogClassification</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "style", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <h1><%= link_to "Dogs", root_path %></h1>
    </header>

    <main class="container">
      <%= yield %>
    </main>

    <footer style="text-align: center; padding: 1rem 0;">
      &copy; <%= Time.current.year %> DogClassification Project
    </footer>
  </body>
</html>
